@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Regular.ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Regular-Italic.ttf');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/src/assets/fonts/Exo2-Regular.ttf');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/src/assets/fonts/Exo2-Bold.ttf');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/src/assets/fonts/Exo2-BoldItalic.ttf');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/src/assets/fonts/Exo2-ExtraBold.ttf');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
