$purple-darkest: #282840;
$purple-dark: #323150;
$purple: #383759;
$purple-light: #3C3B5B;
$gray-dark: #7F7E8C;
$gray: #938FA4;
$gray-light: #9E9CAA;
$green: #0FE3AB;
$green-light: #3FFECA;
$red: #F92552;
$purple-bright: #9E69EE;
$white: #FFF;
$black: #1E202F;

$font-roboto: 'Roboto', sans-serif;
$font-exo: 'Exo 2', sans-serif;

$font-size-smallest: 0.5625rem;  // 9px
$font-size-smaller: 0.75rem;      // 12px
$font-size-default: 1rem;        // 16px
