@import 'variables';

:host .nav {display: flex; flex-direction: row; list-style: none; border-left: 1px solid $purple-light;
  &-item {border-right: 1px solid $purple-light; text-transform: uppercase;
    &-link {position: relative; display: block; padding: 0 34px; line-height: 62px; color: $white;
      text-decoration: none; font-size: $font-size-smaller; transition: color 0.3s ease;

      &:hover {background-color: $purple-darkest;
        &::before {content: ''; position: absolute; width: 100%; height: 4px; background-color: $red;
          top: 0; left: 0; transition: background-color 0.3s ease;
        }
      }
    }
  }
}
